<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="icon" href="web-server/public/img/weather.png" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script defer type="text/javascript" src="/js/main.js"></script>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Use this to get your weather!</p>
    <form>
      <input type="text" name="address" id="address" placeholder="Enter an address" />
      <button type="submit">Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
  </div>
  {{>footer}}
</body>

</html>